@media (max-width: 410px) {
    header p {
        font-size: 0.9rem;
    }
}

@media (min-width: 550px) {
    h1 {
        font-size: 1.3em;
    }

    p {
        font-size: 0.95rem;
    }

    q {
        margin-top: 40px;

        &::before {
            font-size: 7em;
        }
    }

    .button-group {
        flex-direction: row;

        button {
            font-size: 0.8rem;
            padding: 0.9em 1.3em;
        }
    }
}

@media (min-width: 620px) {
    button {
        font-size: 0.7em;
        padding: 0.7em 1.2em;
    }
}

@media (min-height: 800px) {
    body {
        // Position content evenly within window
        // when window height gets larger than content.
        height: 100vh;
    }
}
